<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>README Generator</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="main-container">
    <div class="container">
      <h2>README Generator</h2>
      <form action="/generate-readme" method="post">
        <label>Enter your project description</label>
        <textarea name="description" id="description"></textarea>

        <div class="input-box">
          <input name="language" type="text" id="language">
          <label>Programming Language</label>
        </div>
        <button class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </button>
      </form>

      <div class="display-container">
        <div style="max-height: 300px; white-space: pre-line; overflow: auto; word-wrap: break-word;"><%= readmeContent %></div>
      </div>
    </div>
  </div>
    
  <script src="js/script.js"></script>
</body>
</html>
